USE [PayrollSystemDB]
GO
/****** Object:  Table [dbo].[tblEmployee]    Script Date: 17-03-2020 20:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployee](
	[EmployeeID] [int] NOT NULL,
	[FirstName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[LastName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Gender] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[NINumber] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[MaritalStatus] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[IsMember] [bit] NOT NULL,
	[Address] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[City] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PostCode] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Country] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PhoneNumber] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Email] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Notes] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_tblEmployee] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPayRecords]    Script Date: 17-03-2020 20:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPayRecords](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[FullName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[NINumber] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PayDate] [datetime] NOT NULL,
	[PayPeriod] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PayMonth] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[HourlyRate] [decimal](18, 2) NOT NULL,
	[ContractualHours] [decimal](18, 2) NOT NULL,
	[OvertimeHours] [decimal](18, 2) NOT NULL,
	[TotalHours] [decimal](18, 2) NOT NULL,
	[ContractualEarnings] [money] NOT NULL,
	[OvertimeEarnings] [money] NOT NULL,
	[TotalEarnings] [money] NOT NULL,
	[TaxCode] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TaxAmount] [money] NOT NULL,
	[NIContribution] [money] NOT NULL,
	[UnionFee] [money] NOT NULL,
	[SLC] [money] NOT NULL,
	[TotalDeductions] [money] NOT NULL,
	[NetPay] [money] NOT NULL,
 CONSTRAINT [PK_tblPayRecords] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUsers]    Script Date: 17-03-2020 20:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsers](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Password] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Roles] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Description] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_tblUsers] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPayRecords]  WITH CHECK ADD  CONSTRAINT [FK_tblPayRecords_tblEmployee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[tblEmployee] ([EmployeeID])
GO
ALTER TABLE [dbo].[tblPayRecords] CHECK CONSTRAINT [FK_tblPayRecords_tblEmployee]
GO
/****** Object:  StoredProcedure [dbo].[spDeleteUser]    Script Date: 17-03-2020 20:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spDeleteUser]
(
@UserId As Integer
)
AS
BEGIN
	DELETE FROM tblUsers	
	WHERE UserId = @UserId
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertUser]    Script Date: 17-03-2020 20:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spInsertUser]
(
@UserName As Nvarchar(50),
@Password As Nvarchar(50),
@Role As Nvarchar(50),
@RoleDescription As Nvarchar(MAX)
)
AS
BEGIN
	INSERT INTO tblUsers(UserName, Password, Roles, Description)
	VALUES (@UserName, @Password, @Role, @RoleDescription)
END
GO
/****** Object:  StoredProcedure [dbo].[spIsUserDetailsValid]    Script Date: 17-03-2020 20:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spIsUserDetailsValid]
(
@UserName As Nvarchar(50),
@Password AS Nvarchar(50),
@Role As Nvarchar(50)
)
AS
	BEGIN
		DECLARE @IsUserValid BIT
		SET @IsUserValid = 0

		IF EXISTS(SELECT * FROM tblUsers u WHERE u.USERNAME = @UserName AND u.Password = @Password AND u.ROLES = @Role)
		BEGIN
			SET @IsUserValid = 1
		END

		SELECT @IsUserValid
	END
GO
/****** Object:  StoredProcedure [dbo].[spSelectAllUserRoles]    Script Date: 17-03-2020 20:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spSelectAllUserRoles]
AS
BEGIN
	SELECT Roles FROM tblUsers;
END
GO
/****** Object:  StoredProcedure [dbo].[spUpdateUser]    Script Date: 17-03-2020 20:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spUpdateUser]
(
@UserId As Integer,
@UserName As Nvarchar(50),
@Role As Nvarchar(50),
@RoleDescription As Nvarchar(MAX)
)
AS
BEGIN
	UPDATE tblUsers 
	SET UserName = @UserName, 
	Roles = @Role, 
	Description = @RoleDescription
	WHERE UserId = @UserId
END
GO
/****** Object:  Statistic [PK_tblEmployee]    Script Date: 17-03-2020 20:47:47 ******/
UPDATE STATISTICS [dbo].[tblEmployee]([PK_tblEmployee]) WITH STATS_STREAM = 0x01000000010000000000000000000000F1D856940000000040000000000000000000000000000000380300003800000004000A00000000000000000073020000, ROWCOUNT = 7, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_tblPayRecords]    Script Date: 17-03-2020 20:47:47 ******/
UPDATE STATISTICS [dbo].[tblPayRecords]([PK_tblPayRecords]) WITH STATS_STREAM = 0x010000000100000000000000000000009E07FC5A000000004000000000000000000000000000000038033A033800000004000A000000000000000000FFFFEF7F, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_34C8D9D1]    Script Date: 17-03-2020 20:47:47 ******/
CREATE STATISTICS [_WA_Sys_00000002_34C8D9D1] ON [dbo].[tblUsers]([UserName]) WITH STATS_STREAM = 0x010000000100000000000000000000008F6980020000000087020000000000004702000000000000E7030000E7000000640000000000000008D00034730200000700000035CDF30080AB00000300000000000000030000000000000000000000ABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000300000001000000100000005555D54000004040000000005555D5400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000007100000000000000C300000000000000CB00000000000000D300000000000000180000000000000035000000000000005200000000000000300010000000803F000000000000803F04000001001D00410042004300300010000000803F000000000000803F04000001001D00440045004600300010000000803F000000000000803F04000001001F005400650073007400FF01000000000000000300000003000000280000002800000000000000000000000A00000041004200430044004500460054006500730074000400000040000000008103000000810303000001040600000003000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_34C8D9D1]    Script Date: 17-03-2020 20:47:47 ******/
CREATE STATISTICS [_WA_Sys_00000003_34C8D9D1] ON [dbo].[tblUsers]([Password]) WITH STATS_STREAM = 0x0100000001000000000000000000000026840DEF00000000CB020000000000008B02000000000000E7030000E7000000640000000000000008D00034000000000700000034CDF30080AB00000300000000000000030000000000000000000000ABAAAA3E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000300000003000000010000001000000000009041000040400000000000009041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000930000000000000007010000000000000F010000000000001701000000000000180000000000000041000000000000006A00000000000000300010000000803F000000000000803F04000001002900310032003300340040004100620063006400300010000000803F000000000000803F04000001002900340035003600370040004100620063006400300010000000803F000000000000803F04000001002900410062006300640040003100320033003400FF01000000000000000300000003000000280000002800000000000000000000001B0000003100320033003400400041006200630064003400350036003700400041006200630064004100620063006400400031003200330034000400000040000000008109000000810909000001091200000003000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_34C8D9D1]    Script Date: 17-03-2020 20:47:47 ******/
CREATE STATISTICS [_WA_Sys_00000004_34C8D9D1] ON [dbo].[tblUsers]([Roles]) WITH STATS_STREAM = 0x01000000010000000000000000000000DD07E7BC0000000053020000000000001302000000000000E7031300E7000000640000000000000008D00034000000000700000033CDF30080AB000003000000000000000300000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000000000C04000004040000000000000C0400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000004A000000000000008F0000000000000097000000000000009F0000000000000010000000000000002D000000000000003000100000000040000000000000803F04000001001D00610073006400300010000000803F000000000000803F04000001001D00730064006600FF010000000000000003000000020000002800000028000000000000000000000006000000610073006400730064006600030000004000000000820300000001030300000003000000000000000000000000000000
GO
/****** Object:  Statistic [PK_tblUsers]    Script Date: 17-03-2020 20:47:47 ******/
UPDATE STATISTICS [dbo].[tblUsers]([PK_tblUsers]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
